<div class="container" ng-controller="SamplePoseidonAppController as vm">
    <h1 ng-show="isLabelShown">No value stored in User Setting</h1>
    <h1 ng-show="!isLabelShown">User Settings are available. The name of the user is&nbsp;<u><i>{{settingValue.name}}</i></u>. The age of the user is:&nbsp;<u><i>{{settingValue.age}}</i></u></h1>

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" ng-model="settingValue.name" name="name" />
    </div>

    <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" class="form-control" ng-model="settingValue.age" name="age" />
    </div>

    <div ng-click="vm.insertValue()">
        <input type="button" value="Save" class="btn btn-default">
    </div>

    <div ng-show="isSuccessAlertShown" class="alert alert-success form-group" role="alert">You successfully have stored your personal details!</div>
</div>
